[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
psycopg = "*"
psycopg2 = "*"
cors = "*"
flask-cors = "*"
flask = {extras = ["async"], version = "*"}
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.9"
